<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Product</title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <ul>
      <li>Brand: <%= product.brand %></li>
      <li>Color: <%= product.color %></li>
      <li>
        Category:
        <a href="/products?category=<%= product.category %>">
          <%= product.category %>
        </a>
      </li>
      <li>
        Price: <%= (product.price).toLocaleString("id-ID", { style: "currency",
        currency: "IDR", minimumFractionDigits: 0, maximumFractionDigits: 0, })
        %>
      </li>
    </ul>

    <h2>Garment:</h2>
    <ul>
      <li>
        <a href="/garments/<%= product.garment._id %>"
          ><%= product.garment.name %></a
        >
      </li>
    </ul>

    <a href="/products">All Products</a>

    <a href="/products/<%= product._id %>/update">Edit</a>
    <br /><br />
    <form
      onclick="return confirm('Are you sure?')"
      action="/products/<%= product._id %>?_method=DELETE"
      method="post"
    >
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
